---
layout: article
pageview: true
---

<br>
<audio id="audio" controls preload='auto' style='width: 100%;'><source src='{{ page.audio }}'></audio>
<p>{% if page.season %}Season {{ page.season }} {% endif %}{% if page.episode %}Episode {{ page.episode }}{% endif %}</p>
{{ content }}

<ul>
  {% if page.shownotes %}
    {% for _shownote in page.shownotes %}
      <li>
          <a id="time{{ _shownote.time }}" href="javascript:void(0)" onclick="skip({{ _shownote.time }})">{{ _shownote.time }}</a>
          <span>{{ _shownote.info }}</span>
      </li>
    {% endfor %}
  {% endif %} 
</ul>

<script>
  var audio = document.getElementById("audio")
  function format_time(time) {
      min = parseInt(time / 60)
      sec = time % 60
      return min + ":" + time
  }
  function skip(skip_time) {
    audio.currentTime = skip_time;
    audio.play();
  }

  {% if page.shownotes %}
    {% for _shownote in page.shownotes %}
      document.getElementById("time{{ _shownote.time }}").innerHTML = format_time({{ _shownote.time }})
      {% endfor %}
  {% endif %} 
  
</script>